/*
	* Herniated Nucleus Pulposus
	* HTML Template for photo galleries
	* Version 0.1.0
	* Copyright Sept 26 2016
	* Author : fribiespic.com
*/
@import url("backbone.css");
@import url("nav.css");
@import url("jumbotron.css");
@import url("content.css");
@import url("image-hover-effect.css");
@import url("sidebar.css");
@import url("footer.css");


.featured {
	padding-top: 100px;
}

.recent-update {
	padding-bottom: 100px;
}

.half-rule{
	width: 100px;
	margin: 40px auto;
}






